.login {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  /* padding: 10px; */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.login .login-header {
  width: 100%;
  height: 100px;
  /* background-color: pink; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.login .login-body {
  width: 100%;
  /* height: 100px; */
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.formLogin {
  background-color: #2f3335;
  color: #fff;
  margin: 10px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  /* gap: 15px; */ /* it is not working in mobile browsers so its alternate is in line 56 */
  justify-items: center;
  align-items: center;
  padding: 30px 40px 40px 40px;
}

.formLogin > * {
  margin: 5px; /* alternate of gap flexbox */
}

.form-label {
  margin-bottom: 15px;
}
